.collaboration {
  margin-top: 207px;

  .collaboration__content {
    display: flex;

    .collaboration__description {
      display: flex;
      flex-direction: column;

      h2 {
        margin-top: 40px;
        max-inline-size: 491px;

        @media (max-width:$breakpoints-mobile) {
          max-inline-size: 339px;
          font-size: 28px;
          margin-left: 16px;
          margin-top: -38px;
        }
      }

      p {
        margin-top: -12px;
        letter-spacing: 0.35px;

        @media (max-width:$breakpoints-xl) {
          text-align: center;
        }
      }

      .collaboration__buttons {
        margin-top: 30px;

        button {
          letter-spacing: 0.3px;
          font-size: 12px;
        }

        @media (max-width:$breakpoints-xl) {
          display: flex;
          justify-content: center;
        }

        @media (max-width:$breakpoints-mobile) {
          margin-top: 36px;
          margin-left: 13px;
        }
      }

      @media (max-width:$breakpoints-xl) {
        margin-top: 110px;
      }
    }

    .collaboration__images {

      img:nth-child(1) {
        position: relative;
        top: 92px;
        left: 162px;
        z-index: 1;

        @media (max-width:$breakpoints-sm) {
          display: none;
        }

      }
    }

    img:nth-child(3) {

      position: relative;

      left: 126px;

      @media (max-width:$breakpoints-sm) {
        display: none;
      }

    }

    img:nth-child(2) {
      display: none;
      z-index: 1;
      position: relative;
      left: 60px;
      top: 229px;

      @media (max-width:$breakpoints-sm) {
        display: block;
      }

      @media (max-width:$breakpoints-mobile) {
        left: 20px;
        top: 229px;
      }
    }

    img:nth-child(4) {
      display: none;
      position: relative;
      left: 267px;
      top: -55px;

      @media (max-width:$breakpoints-sm) {
        display: block;
      }

      @media (max-width:$breakpoints-mobile) {
        left: 147px;
        top: -55px;
      }

    }

    @media (max-width:$breakpoints-sm) {
      flex-direction: column-reverse;
    }
  }

  // @media (max-width:$breakpoints-xl) {
  //   margin-left: -300px;
  // }

  @media (max-width:$breakpoints-xl) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media (max-width:$breakpoints-xl) {
    margin-top: 70px;
  }

  @media (max-width:$breakpoints-mobile) {
    margin-top: 53px;
  }
}
