/* Подключение переменных препроцессора */
@use "variables.scss";

.collaboration {
  margin-top: 207px;

  .collaboration__content {
    display: flex;
    justify-content: center;

    .collaboration__description {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin-top: 40px;
        max-inline-size: 491px;

        @media (max-width:variables.$breakpoints-mobile) {
          max-inline-size: 339px;
          font-size: 28px;
          margin-left: 16px;
          margin-top: -38px;
        }
      }

      p {
        margin-top: -12px;
        letter-spacing: 0.35px;

        @media (max-width:variables.$breakpoints-lg) {
          text-align: center;
        }
      }

      .collaboration__buttons {
        margin-top: 30px;

        button {
          letter-spacing: 0.3px;
          font-size: 12px;
        }

        @media (max-width:variables.$breakpoints-xl) {
          display: flex;
          justify-content: center;
        }

        @media (max-width:variables.$breakpoints-mobile) {
          margin-top: 36px;
          margin-left: 13px;
        }
      }

      @media (max-width:variables.$breakpoints-xl) {
        margin-top: 110px;
      }
    }

    .collaboration__images {

      img:nth-child(1) {
        position: relative;
        top: 92px;
        left: -7px;
        z-index: 1;

        @media (max-width:variables.$breakpoints-xl) {
          top: 162px;
          left: 83px;
        }

        @media (max-width:variables.$breakpoints-lg) {
          display: none;
        }

      }
    }

    img:nth-child(3) {

      position: relative;

      left: -15px;

      @media (max-width:variables.$breakpoints-xl) {
        top: -210px;
        left: 253px;
      }

      @media (max-width:variables.$breakpoints-lg) {
        display: none;
      }



    }

    img:nth-child(2) {
      display: none;
      z-index: 1;
      position: relative;
      left: 180px;
      top: 229px;

      @media (max-width:variables.$breakpoints-lg) {
        display: block;
      }

      @media (max-width:variables.$breakpoints-md) {
        left: 160px;
      }

      @media (max-width:variables.$breakpoints-sm) {
        left: 80px;
      }

      @media (max-width: 470px) {
        left: 54px;
      }

      @media (max-width:variables.$breakpoints-mobile) {
        left: 34px;
      }






      // @media (max-width:variables.$breakpoints-mobile) {

      // }
    }

    img:nth-child(4) {
      display: none;
      position: relative;
      left: 327px;
      top: -55px;

      @media (max-width:variables.$breakpoints-lg) {
        display: block;
      }

      @media (max-width:variables.$breakpoints-md) {
        left: 300px;
      }

      @media (max-width:variables.$breakpoints-sm) {
        left: 220px;
      }

      @media (max-width: 470px) {
        left: 160px;
      }

      @media (max-width:variables.$breakpoints-mobile) {
        left: 130px;
      }



      // @media (max-width:variables.$breakpoints-mobile) {

      // }

    }

    @media (max-width:variables.$breakpoints-lg) {
      flex-direction: column-reverse;
    }
  }

  // @media (max-width:variables.$breakpoints-xl) {
  //   margin-left: -300px;
  // }

  @media (max-width:variables.$breakpoints-xl) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media (max-width:variables.$breakpoints-xl) {
    margin-top: 70px;
  }

  @media (max-width:variables.$breakpoints-mobile) {
    margin-top: 0;
  }
}
