/* Подключение переменных препроцессора */
@use "variables.scss";

.portfolio {
  margin-top: 41px;

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .portfolio__group-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    border-radius: 30px;

    height: 300px;
    width: 300px;

    @media (max-width:variables.$breakpoints-mobile) {
      width: 250px;
      height: 250px;
    }


    p {
      color: variables.$primary;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0;
      padding: 1px 1px 24px 24px !important;
      margin: 0 !important;

      @media (max-width:variables.$breakpoints-mobile) {
        font-size: 20px;
      }
    }
  }

  #portfolio__group-item-1 {
    background: url('/src/assets/img/app.png') center no-repeat;
  }

  #portfolio__group-item-2 {
    background: url('/src/assets/img/cloud.png') center no-repeat;
  }

  #portfolio__group-item-3 {
    background: url('/src/assets/img/furniture.png') center no-repeat;
  }

  @media (max-width:variables.$breakpoints-mobile) {


    #portfolio__group-item-1 {
      background: url('/src/assets/img/app-mobile.png') center no-repeat;
    }

    #portfolio__group-item-2 {
      background: url('/src/assets/img/cloud-mobile.png') center no-repeat;
    }

    #portfolio__group-item-3 {
      background: url('/src/assets/img/furniture-mobile.png') center no-repeat;
    }
  }



  .container {
    img:nth-child(1) {
      position: relative;
      top: 435px;
      left: 377px;
      z-index: -1;

      @media (max-width:variables.$breakpoints-xl) {
        display: none;
      }
    }

    img:nth-child(2) {
      position: relative;
      top: 231px;
      left: 1015px;
      z-index: -1;

      @media (max-width:variables.$breakpoints-xl) {
        display: none;
      }
    }

    .portfolio__group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;

      // .slowder-slide{
      //   display: flex;
      //   justify-content: center;
      // }

      a {
        letter-spacing: 0.1px;
      }

      h2 {
        margin-bottom: 0;

        @media (max-width:variables.$breakpoints-mobile) {
          margin: 13px 0 39px 0;
        }
      }

      p {
        text-align: center;
        margin-top: 30px;
        line-height: 1.7;
        letter-spacing: 0.4px;
        max-inline-size: 652px;
        margin-bottom: 20px;

        // @media (max-width:variables.$breakpoints-sm) {
        // }

        @media (max-width:variables.$breakpoints-mobile) {
          line-height: 1.5;
          margin-top: -4px;
          letter-spacing: 0.6px;
        }
      }

      .portfolio__group__cards {
        display: flex;
        align-items: center;
        gap: 69px;
        margin-top: 49px;
        margin-bottom: 34px;


        // @media (min-width:1441px) {
        //     margin-top: 82px;
        // }
        @media (max-width:variables.$breakpoints-xl) {
          flex-direction: column;
          gap: 30px;
        }

        @media (max-width:variables.$breakpoints-sm) {
          gap: 54px;
        }

        @media (max-width:variables.$breakpoints-mobile) {
          display: none;
        }
      }

      .portfolio-swiper{
        margin-bottom: 34px;
      }

      .portfolio__group__cards-mobile {
        display: none;


        @media (max-width:variables.$breakpoints-mobile) {
          display: flex;

          // #portfolio__group-item-1 {
          //   background-image: url("../img/app-mobile.png");
          //   padding: 252px 31px 24px 24px !important;
          //   max-inline-size: 245px;
          // }

          // #portfolio__group-item-2 {
          //   background-image: url("../img/cloud-mobile.png");
          //   padding: 324px 252px 32px 30px !important;
          //   max-inline-size: 119px;
          // }

          // #portfolio__group-item-3 {
          //   background-image: url("../img/furniture-mobile.png");
          //   padding: 293px 82px 16px 28px !important;
          //   max-inline-size: 192px;
          // }
        }
      }

      .button-primary {
        letter-spacing: 0.4px;
        margin-top: 8px;
      }
    }
  }

  @media (max-width:variables.$breakpoints-xl) {
    margin-top: 150px;
  }

  @media (max-width:variables.$breakpoints-lg) {
    margin-top: 100px;
  }

  @media (max-width:variables.$breakpoints-sm) {
    margin-top: 100px;
  }

  @media (max-width:variables.$breakpoints-mobile) {
    margin-left: 13px;
  }
}

.portfolio-swiper {
  width: 100%;
}
