/* Подключение переменных препроцессора */
@use "variables.scss";

.quality {

  .quality__content {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .quality__img {
    margin: 57px 0 56px 0;
    border-radius: 50px;

    @media (max-width:variables.$breakpoints-xl) {
      margin-left: 110px;
    }

    @media (max-width:variables.$breakpoints-lg) {
      margin-left: 14px;
    }

    @media (max-width:variables.$breakpoints-md) {
      display: none;
    }

    // @media (max-width:variables.$breakpoints-sm) {
    //   transform: scale(0.5);
    //   // margin-left: -156px;
    // }

    @media (max-width:variables.$breakpoints-mobile) {
      // margin-left: -171px;
      // margin-top: -118px;
      // transform: scale(0.446);
      border-radius: 0;
    }
  }

  .quality__img-md {
    display: none;

    @media (max-width:variables.$breakpoints-md) {
      display: block;
      margin: 56px 0 57px 0;
    }

    @media (max-width:variables.$breakpoints-sm) {
      display: none;
    }
  }

  .quality__img-sm {
    display: none;

    @media (max-width:variables.$breakpoints-sm) {
      display: block;
      margin: 56px 0 57px 0;
    }
  }

  /* Первая карточка */
  img+.quality__card {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 142px;
    padding: 15px 32px 16px 20px;
    border: 1px solid variables.$primary;
    background-color: variables.$primary;
    border-radius: 16px;
    font-weight: 700;
    box-shadow: variables.$box-shadow__quality-card;

    .card-top {
      p {
        margin: 3px 0 0;
        color: variables.$navigation;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.14px;
        opacity: 0.5;
        flex-wrap: nowrap;

        @media (max-width:variables.$breakpoints-sm) {
          font-size: 6px;
        }
      }

      @media (max-width:variables.$breakpoints-sm) {
        gap: 0;

        img {
          transform: scale(0.66);
        }
      }
    }

    p {
      max-inline-size: 123px;
      font-family: "Nunito", sans-serif;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.1px;
      margin: 7px 0 0;

      span {
        font-weight: 700;
      }

      @media (max-width:variables.$breakpoints-sm) {
        font-size: 12px;
        text-align: left;
        margin-left: 7px;
        margin-top: 0;
      }
    }

    @media (max-width:variables.$breakpoints-xl) {
      top: 60px;
      left: 56px;
    }

    @media (max-width:variables.$breakpoints-lg) {
      top: 54px;
      left: -4px;
    }

    @media (max-width:variables.$breakpoints-md) {
      top: 24px;
      left: 60px;
    }

    @media (max-width:variables.$breakpoints-sm) {
      top: 46px;
      left: 85px;
      border-radius: 6px;
      padding: 3px 17px 8px 8px;
    }

    @media (max-width:426px) {
      left: 20px;
    }

    @media (max-width:variables.$breakpoints-mobile) {
      left: 6px;
    }
  }

  /* Вторая карточка */
  .quality__card+.quality__card {
    position: absolute;
    z-index: 1;
    top: 399px;
    left: 930px;
    padding: 26px 22px 24px 20px;
    border: 1px solid variables.$primary;
    background-color: variables.$primary;
    border-radius: 16px;
    font-weight: 700;
    box-shadow: variables.$box-shadow__quality-card;

    .card-top {
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      max-inline-size: 94px;

      img {
        @media (max-width:variables.$breakpoints-sm) {
          transform: scale(0.481);
        }
      }

      p {
        color: variables.$navigation;
        font-family: "Quicksand", sans-serif;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.14px;


        span {
          font-size: 6px;
          font-weight: 600;
          opacity: 0.5;

          @media (max-width:variables.$breakpoints-sm) {
            font-size: 3px;
          }
        }

        @media (max-width:variables.$breakpoints-sm) {
          font-size: 5px;
          margin-left: -4px;
        }
      }

      @media (max-width:variables.$breakpoints-sm) {
        gap: 2px;
        text-align: left;
        max-inline-size: 61px;
        margin-left: -8px;
      }
    }

    .card-top+p {

      font-family: "Nunito", sans-serif;
      font-weight: 500;
      font-size: 10px;
      letter-spacing: 0.1px;
      line-height: 14px;
      margin: 12px 0 0;
      max-inline-size: 122px;

      @media (max-width:variables.$breakpoints-lg) {
        text-align: left;
      }

      @media (max-width:variables.$breakpoints-sm) {
        font-size: 5px;
        text-align: left;
        margin-top: 0;
        line-height: 1.45;
        margin-top: -3px;
        max-inline-size: 62px;
      }
    }

    @media (max-width:variables.$breakpoints-xl) {
      top: 439px;
      left: 740px;
    }

    @media (max-width:variables.$breakpoints-lg) {
      top: 445px;
      left: 554px;
    }

    @media (max-width:variables.$breakpoints-md) {
      top: 335px;
      left: 412px;
    }

    @media (max-width:variables.$breakpoints-sm) {
      top: 226px;
      left: 317px;
      border-radius: 6px;
      padding: 4px 8px 9px 9px;
    }

    @media (max-width:426px) {
      left: 275px;
    }

    @media (max-width:variables.$breakpoints-mobile) {
      left: 255px;
    }

  }
}
