$primary: #FFF;
$p-base: #464646;
$blue-second: #377DFF;
$footer_color: #383638;
$naviagtion: #1D1D1D;
$navigation: #1D1D1D;

$box-shadow_blue: 0 4px 8px rgba(55, 125, 255, 0.5);
$box-shadow__quality-card: 0 8px 24px rgba(0, 0, 0, 0.15);
$box-shadow__services: 4px 4px 30px rgba(0, 0, 0, 0.1);
$box-shadow__testimonial: 0 8px 24px rgba(0, 0, 0, 0.05);

/* container size */
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1152px;

/* breakpoints */
$breakpoints-xs: 0;
$breakpoints-mobile: 390px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1230px;
